.item-wrapper {
	position: relative;
	display: flex;
}

.item-wrapper > * {
	margin: 0;
	padding: 0;
	background: none;
	border: 0;
}

.item-wrapper :first-child {
	flex: auto;
}

.item-wrapper :nth-child(3),
.item-wrapper :nth-child(2) {
	flex: none;
	box-sizing: border-box;
}

.item-body {
	flex: auto;
}

.item-footer {
	flex: none;
	display: flex;
}

.item-text-wrapper {
	font-size: 1rem;
	margin: 2px; /* take care of the border around inputs */
	padding: 8px 4px;
}

.item-input {
	box-sizing: border-box;
	margin: 0;
	padding: 8px 4px;
	min-height: 32px;
	font-size: 1rem;
	width: 100%;
}

.item-btn--edit,
.item-btn--delete {
	background-color: #fff;
	height: 100%;
	margin: 0 4px;
}

.item-btn--edit {
	font-size: 0.7rem;
	font-weight: 600;
	line-height: 0.7rem;
	text-transform: uppercase;
}

.item-btn--delete {
	color: var(--light-text-color);
	font-size: 1.4rem;
	font-weight: 800;
}

.section-wrapper {
	margin-left: var(--gutter);
	margin-right: var(--gutter);
}

.section-headline {
	margin-top: var(--gutter);
	font-size: var(--headline-font-size);
}

.section-list {
	border: 1px solid var(--line-color);
	margin: var(--gutter) 0;
	padding-left: 0;
}

.section-list > li {
	margin: 0;
	list-style-type: none;
}

.section-list > li + li {
	border-top: 1px solid var(--line-color);
}
