.item-wrapper {
	position: relative;
	display: flex;
}

.item-wrapper > * {
	margin: 0;
	padding: 0;
	background: none;
	border: 0;
}

.item-wrapper :first-child {
	flex: auto;
}

.item-wrapper :nth-child(3),
.item-wrapper :nth-child(2) {
	flex: none;
	box-sizing: border-box;
	margin-left: var(--gutter);
}

.item-body {
	flex: auto;
}

.item-footer {
	flex: none;
}

.item-edit {
	font-size: 0.7rem;
	text-transform: uppercase;
	font-weight: 600;
}

.item-delete {
	font-size: 1.4rem;
	font-weight: 800;
}

.item-input {
	box-sizing: border-box;
	margin: 0;
	padding: 4px;
	min-height: 32px;
	font-size: 1rem;
	width: 100%;
}
