.section-wrapper {
	margin-left: var(--gutter);
	margin-right: var(--gutter);
}

.section-headline {
	margin-top: var(--gutter);
	font-size: var(--headline-font-size);
}

.section-list {
	margin: var(--gutter) 0;
	padding-left: 0;
}

.section-list > li {
	margin: 0;
	list-style-type: none;
}

.section-list > li + li {
	margin-top: var(--gutter);
}
