:root {
	/* backgrounds */
	/* --main-bg-color: rgb(250, 252, 255); */
	--main-bg-color: white;
	--header-background: #83d0f2;
	--white: #fff;

	--light-text-color: #888;
	--mid-text-color: #666;
	--dark-text-color: #333;

	/* accents */
	--line-color: rgba(0, 0, 0, 0.2);

	/* size */
	--headline-font-size: 1rem;

	/* spacing */
	--gutter: 1rem;
	--half-gutter: calc(0.5 * var(--gutter));
}

html {
	font-size: 16px;
}

#root,
body,
html {
	height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--dark-text-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
	clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-grow {
	flex-grow: 1;
}

.btn {
	box-sizing: border-box;
	border: none;
	color: var(--mid-text-color);
	cursor: pointer;
	height: 2rem;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	width: 2rem;
}

*[hidden] {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.ripple {
	background-position: center;
	transition: background 0.4s;
}
.ripple:hover {
	background: #ccecfa radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}
.ripple:active {
	background-color: #ccecfa;
	background-size: 100%;
	transition: background 0s;
}
