@import '../node_modules/normalize.css/normalize.css';

:root {
	--palette-primary: blue;
	--palette-color: rgba(0, 0, 0, 0.87);
	--palette-border-color: rgba(0, 0, 0, 0.2);
	--spacing-unit: 8;
	--spacing-half-unit: 4;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	color: var(--palette-color);
}

button {
	box-sizing: border-box;
	background: none;
	padding: calc(var(--spacing-unit) * 1px);
	padding-top: calc(var(--spacing-half-unit) * 1px);
	padding-bottom: calc(var(--spacing-half-unit) * 1px);
	line-height: 1;
	font-size: 1.5rem;
}
